

body, html {
    height: 100%;
    margin: 0;
    font-family: helveticaNeue;
    background-image: url('../media/wireframe.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }

.login-form {
    background-color: whitesmoke;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%; }

.login-form h1 {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 52px;
    color: #333;
}

.form-text {
    font-size: 18px;
    margin-bottom: 8px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#loginButton {
    width: 80%;
    background-color: #68AA22;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block; /* Ensure button is a block element */
    margin: 0 auto; /* Center the button horizontally */
}
#loginButtonGoogle {
    width: 80%;
    background-color: #4285F4; 
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block; /* Ensure button is a block element */
    margin: 20px auto; /* Center the button horizontally with some margin at the top */
}

#loginButtonGoogle:hover {
    background-color: #c53727; /* Darken the color slightly on hover */
}



