<%- include('includes/head.ejs') %>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 min-vh-100">
        <button class="btn btn-light btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <i class="bi bi-list"></i>
        </button>
      </div>
             <!--Here i t goes the Card-->
            <div class="col">
                <div class="container">
                    <div class="row justify-content-center align-items-center min-vh-100">
                        <div class="col-md-4">
                            <div id="account-form" class="card text-center p-4">
                                <div class="btn-group mb-3">
                                    <button type="button" class="btn position-relative">
                                        <img src="/img/account.png" alt="Account" class="img-fluid">
                                    </button>
                                </div>
                                <p class="card-text fs-4">John Doe</p>
                                <p class="card-text">
                                    Contraseña 
                                    <button id="button" type="button" class="btn btn-light">
                                        <i class="fa-solid fa-eye"></i>
                                    </button>
                                    <button id="button" type="button" class="btn btn-light">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                </p>
                                <input type="password" class="form-control mx-auto" style="width: 80%" placeholder="Password" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>

  <!--Here it ends the card-->

<%- include('includes/sidebar.ejs') %>
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c5614e6e6c.js" crossorigin="anonymous"></script>
  </body>
</html>