<!DOCTYPE html>
<html>
<head>
  <%- include('includes/head.ejs', {permisos: permisos}) %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style src="../public/css/analiticas.css"></style>

</head>
<body>
    <%- include('includes/header.ejs') %>

<div class="col-md-9 m-auto">
    <div class="container mt-5">
        <h2 class="mb-4">Analiticas</h2>

        <form id="brandForm" method="POST" action="/analiticas/filteredAnalytics">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="brand" id="brandInput">
        </form>
        <h5>Selecciona una marca de la que quieras revisar sus analiticas</h5>
        <div class="d-flex justify-content-between">
          <div class="card flex-fill" onclick="submitForm('Nooz')" style="cursor: pointer;">
              <img src="/img/1712688983551-nooz.png" class="card-img-top" alt="">
          </div>
          <div class="card flex-fill" onclick="submitForm('Luuna')" style="cursor: pointer;">
              <img src="/img/1712688936128-luuna.png" class="card-img-top" alt="">
          </div>
          <div class="card flex-fill" onclick="submitForm('Mappa')" style="cursor: pointer;">
              <img src="/img/1712688953933-mappa.png" class="card-img-top" alt="">
          </div>
      </div>
              <script>
                function submitForm(brand) {
                  document.getElementById('brandInput').value = brand;
                  document.getElementById('brandForm').submit();
                }
              </script>
  </div>
</div>

<%- include('includes/sidebar.ejs') %>
</body>
</html>