<%- include('includes/head.ejs', {permisos: permisos}) %>
<%- include('includes/header.ejs') %>

<style>
  .square-corner {
    border-radius: 0 !important;
  }
</style>

<div class="container mt-5">
  <!-- Título centrado -->
  <div class="row">
    <div class="col-12 text-center">
      <h1>Catalogo</h1>
    </div>
  </div>

  <!-- Descripción -->
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <p>Aprende a cambiar la contraseña de tu cuenta</p>
    </div>
  </div>

  <!-- Botón que despliega información sobre la contraseña -->
  <div class="row justify-content-center">
    
      <button class="row btn btn-secondary mx-2 mb-1 square-corner" style="width: 75%;" type="button" data-bs-toggle="collapse" data-bs-target="#Target" aria-expanded="false" aria-controls="Target">
        <strong>Funcionalidades del Catalogo</strong>
      </button>
  
      <div class="collapse w-75 mb-1" id="Target">
        <div class="card card-body text-center">
          <div class="row">
            <!-- Cada botón ocupa el ancho total dividido por el número de botones -->
            <div class="col">
              <button class="btn btn-outline-secondary mb-2 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#Target2" aria-expanded="false">Buscar por Item Code</button>
              
              <div class="collapse" id="Target2">
                <div class="card card-body text-center">
                  <div class="text-start" style="font-size: larger; font-weight: bold;">Proceso para buscar por el Item Code:</div>
                  <br>
                  <img src="/img/guiaCatalogo/imgDeAyudaParaCatalogo.png" alt="La search bar se encuentra abajo del titulo de la  "> 
                  <ul> <span style="font-weight: bold;">1.</span> Dentro de la parte de catalogo encontraremos la barra de busqueda</ul>
                  <br>
                  <img src="/img/guiaCatalogo/imgDeAyudaParaCatalogo2.png" alt="Introduce algun caracter alfanumerico dentro de la search bar y observa como se empiezan a filtrar los productos registrados dentro del catalogo ">
                  <ul> <span style="font-weight: bold;">2.</span> Introduce algun caracter alfanumerico dentro de la search bar y observa como se empiezan a filtrar los productos registrados dentro del catalogo</ul>
                  <br>
                  <img src="/img/guiaCatalogo/imgDeAyudaParaCatalogo3.png" alt="Introduce el nombre de alguna de las marcas para consultar todos los productos registrados dentro del catalogo registrados bajo esa marca"> 
                  <ul> <span style="font-weight: bold;">3.</span> Introduce el nombre de alguna de las marcas para consultar todos los productos registrados dentro del catalogo registrados bajo esa marca</ul>
                  <br>
                  <!-- Card -->
                </div>
                <!-- collapse -->
              </div>
              <!-- Columna -->
            </div> 
          
          <!-- Casos de error -->

          <div class="col">
            <button class="btn btn-outline-secondary mb-2 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#Target3" aria-expanded="false">Consultar detalles del producto</button>
            
            <div class="collapse" id="Target3">
              <div class="card card-body text-center">
                <div class="text-start" style="font-size: larger; font-weight: bold;">Proceso para consultar los detalles del producto:</div>
                <br>
                <img src="/img/guiaCatalogo/imgDeAyudaParaCatalogo5.png" alt="Da click en la fila del producto que quieras consultar"> 
                <ul> <span style="font-weight: bold;">1.</span> Da click en la fila del producto que quieras consultar</ul>
                <br>
                <img src="/img/guiaCatalogo/imgDeAyudaParaCatalogo4.png" alt="Observa el como se despliega la descripción del producto junto con una imagén de este">
                <ul> <span style="font-weight: bold;">2.</span> Observa el como se despliega la descripción del producto junto con una imagén de este</ul>
                <br>
                <!-- Card -->
              </div>
              <!-- collapse -->
            </div>
            <!-- Columna -->
          </div> 

          <!-- row -->
          </div>

        </div>
      </div>


<!-- Barra de herramientas fija en la parte inferior -->

<div class="container mt-5 mb-4"></div>
<div class="fixed-bottom bg-light border-top py-3">
  <div class="container">
    <div class="d-flex justify-content-between">
      <a href="/ayuda" class="btn btn-outline-dark">Regresar a ayuda <i class="bi bi-arrow-90deg-left"></i></a>
    </div>
  </div>
</div>

<%- include('includes/sidebar.ejs') %>
<script src="/js/encuesta.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c5614e6e6c.js" crossorigin="anonymous"></script>
</body>
</html>
