<%- include('includes/head.ejs') %>
<%- include('includes/header.ejs') %>

      <div class="col-md-8 m-auto mt-5">
        <h2 class="mb-4">Marcas</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 m-auto">
            <div class="col">
              <div class="card" style="width: 15em;">
                <img src="/img/luuna.png" class="card-img-top" alt="Logo de marca">
                <div class="card-body text-center bg-light">
                    <a href="/encuestas/luuna" class="btn btn-outline-primary">Editar encuestas <i class="bi bi-pencil-fill"></i></a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 15em;">
                <img src="/img/mappa.png" class="card-img-top" alt="Logo de marca">
                <div class="card-body text-center bg-light">
                  <a href="/encuestas/mappa" class="btn btn-outline-primary">Editar encuestas <i class="bi bi-pencil-fill"></i></a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 15em;">
                <img src="/img/nooz.png" class="card-img-top" alt="Logo de marca">
                <div class="card-body text-center bg-light">
                  <a href="/encuestas/nooz" class="btn btn-outline-primary">Editar encuestas <i class="bi bi-pencil-fill"></i></a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 15em;">
                <a href="/brands/new" class="btn btn-outline-secondary"><img src="/img/plus.png" class="card-img-top" alt="..."></a>
              </div>
            </div>
          </div>
          <div class="container-fluid text-end">
            <button class="btn btn-outline-danger eliminar-marca">Eliminar marca <i class="bi bi-trash-fill"></i></button>
          </div>
      </div>      
    </div>
  </div>
      
<%- include('includes/sidebar.ejs') %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var eliminarBotones = document.querySelectorAll('.eliminar-marca');

    eliminarBotones.forEach(function(boton) {
      boton.addEventListener('click', function() {
        if (confirm('¿Seguro que quieres eliminar la marca?')) {
          console.log('Marca eliminada');
        } else {
          console.log('Eliminación cancelada');
        }
      });
    });
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
