<%- include('includes/head.ejs') %>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 min-vh-100">
        <button class="btn btn-light btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <i class="bi bi-list"></i>
        </button>
      </div>

      <div class="col-md-8 m-auto">
        <div class="row row-cols-1 row-cols-md-3 g-4 m-auto">
            <div class="col">
              <div class="card" style="width: 15em;">
                <img src="includes/img/luuna.png" class="card-img-top" alt="Logo de marca">
                <div class="card-body text-center bg-light">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-light btn-lg"><i class="bi bi-trash-fill"></i></button>
                    <button type="button" class="btn btn-light btn-lg"><i class="bi bi-pencil-fill"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 15em;">
                <img src="includes/img/mappa.png" class="card-img-top" alt="Logo de marca">
                <div class="card-body text-center bg-light">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-light btn-lg"><i class="bi bi-trash-fill"></i></button>
                    <button type="button" class="btn btn-light btn-lg"><i class="bi bi-pencil-fill"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 15em;">
                <img src="includes/img/nooz.png" class="card-img-top" alt="Logo de marca">
                <div class="card-body text-center bg-light">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-light btn-lg"><i class="bi bi-trash-fill"></i></button>
                    <button type="button" class="btn btn-light btn-lg"><i class="bi bi-pencil-fill"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 15em;">
                <button type="button" class="btn btn-secondary"><img src="includes/img/plus.png" class="card-img-top" alt="..."></i></button>
              </div>
            </div>
          </div>
      </div>  
    </div>
  </div>
      
    <%- include('includes/sidebar.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>