<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Confirmación de envío</title>
<style>
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 40px;
    background: #f7f7f7;
  }
  .container {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .header {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .footer {
    font-size: 16px;
    color: #777;
    margin-top: 30px;
  }
  .logos img {
    width: 60px; /* Ancho fijo para todas las imágenes */
    height: 70px; /* Alto fijo para todas las imágenes */
    object-fit: contain; /* Asegura que el contenido de la imagen se escale correctamente dentro del espacio asignado */
    margin: 10px;
    cursor: pointer;
    border: 0; /* Elimina cualquier borde por defecto */
    display: inline-block; /* Asegura que las imágenes se alineen correctamente */
  }
</style>
</head>
<body>

<div class="container">
  <div class="header">
    ¡Gracias por contestar!
  </div>

<div class="footer">
    Visita nuestras páginas.
</div>
  
<div class="logos">
    <a href="https://luuna.mx/promociones..." target="_blank"><img src="https://zeb-main-bucket.b-cdn.net/catalog-website/luuna.mx/group-186ad7c.svg" alt="Luuna"></a>
    <a href="https://mappa.mx/..." target="_blank"><img src="https://zeb-main-bucket.b-cdn.net/catalog-website/mappa.mx/mappa-logotipo_mesa-de-trabajo-1-4-.png" alt="Mappa"></a>
    <a href="https://nooz.mx/promociones..." target="_blank"><img src="https://zeb-main-bucket.b-cdn.net/catalog-website/nooz.mx/nooz-header-logo.png" alt="Nooz"></a>
</div>


</div>

</body>
</html>
