<%- include('includes/head.ejs') %>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 min-vh-100">
        <button class="btn btn-light btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <i class="bi bi-list"></i>
        </button>
      </div>

      <div class="col-md-8 m-auto">
        <div class="row justify-content-center row-cols-1 row-cols-md-3 g-4 m-auto">
            <div class="col">
              <div class="card" style="width: 15em;">
                <img src="img/nooz.png" class="card-img-top" alt="Logo de marca">
                <div class="card-body text-center bg-light">
                  <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-light btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categoría
                          </button>
                          <ul class="dropdown-menu" >
                            <li><a  class="nav-link link-dark btn btn-outline-secondary dropdown-item ms-3" href="#" style="margin-bottom: 10px;">Colchones</a></li>
                            <li><a  class="nav-link link-dark btn btn-outline-secondary dropdown-item ms-3" href="#" style="margin-bottom: 10px;">Almohadas</a></li>
                            <li><a  class="nav-link link-dark btn btn-outline-secondary dropdown-item ms-3" href="#" style="margin-bottom: 10px;">Camas</a></li>
                            <li><a  class="nav-link link-dark btn btn-outline-secondary dropdown-item ms-3" href="#" style="margin-bottom: 10px;">Blancos</a></li>
                            <li><a  class="nav-link link-dark btn btn-outline-secondary dropdown-item ms-3" href="#" style="margin-bottom: 10px;">Accesorios</a></li>
                          </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-auto d-flex justify-content-end align-items-end">
              <button class="btn btn-secondary">Cambiar de marca</button>
          </div>
      </div>  
      
    </div>
  </div>
  
      
      <div class="offcanvas offcanvas-start bg-light" style="width: 310px;" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header position-relative">         
          <h5 class="offcanvas-title position-absolute top-10 start-50 translate-middle-x" id="offcanvasExampleLabel">(Zebranalytics)</h5>         
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>       
        </div>
        <hr>
        <div class="offcanvas-body">
          <div class="col-md-3">
            <div class="d-flex flex-column flex-shrink-0 p-3 min-vh-100" style="width: 280px;">

              <ul class="nav nav-pills flex-column mb-auto">
                
                <li class="nav-item mb-3">
                  <a href="#" class="nav-link link-dark btn btn-outline-secondary" aria-current="page">
                    <i class="bi bi-person-circle"></i>  
                    Mi cuenta
                  </a>
                </li>
                <li class="nav-item mb-3">
                  <a href="#" class="nav-link link-dark btn btn-outline-secondary">
                    <i class="bi bi-star-half"></i>
                    Reseñas
                  </a>
                </li>
                <li class="nav-item mb-3">
                  <a href="#" class="nav-link link-dark btn btn-outline-secondary">
                    <i class="bi bi-bar-chart-fill"></i>
                    Analíticas
                  </a>
                </li>
                <li class="nav-item mb-3">
                  <a href="#" class="nav-link link-dark btn btn-outline-secondary">
                    <i class="bi bi-card-checklist"></i>
                    Encuestas
                  </a>
                </li>
                <li class="nav-item mb-3">
                  <a href="#" class="nav-link link-dark btn btn-outline-secondary">
                    <i class="bi bi-people-fill"></i>
                    Personal
                  </a>
                </li>
              </ul>
              <hr style="margin-top: 0;">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none mb-auto">
                  <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                  <strong>Cerrar sesión</strong>
                </a>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>