<%- include('includes/head.ejs', {permisos: permisos}) %>
  <%- include('includes/header.ejs') %>

    <div class="container-fluid main-content">
      <div class="row">
        <div class="col-md-7"> 
          <div class="container mt-5">
            <div class="row align-items-center">
              <div class="col-md-auto align-self-start">
                <h2 class="mb-0">NOOZ</h2>
                <br>
             <!-- Botones de registrar encuesta para cada categoría -->
             <div class="col-md-12 mb-3">
              <a href="/encuestas/luuna_new_colchones" class="btn btn-outline-primary"> Colchones <i class="bi bi-pencil-fill"></i></a>
            </div>
            <div class="col-md-12 mb-3">
              <a href="/encuestas/luuna_new_almohadas" class="btn btn-outline-primary"> Almohadas <i class="bi bi-pencil-fill"></i></a>
            </div>
            <div class="col-md-12 mb-3">
              <a href="/encuestas/luuna_new_muebles" class="btn btn-outline-primary"> Camas <i class="bi bi-pencil-fill"></i></a>
            </div>
            <div class="col-md-12 mb-3">
              <a href="/encuestas/luuna_new_blancos" class="btn btn-outline-primary"> Blancos <i class="bi bi-pencil-fill"></i></a>
            </div>
            <div class="col-md-12 mb-3">
              <a href="/encuestas/luuna_new_ninos" class="btn btn-outline-primary"> Accesorios <i class="bi bi-pencil-fill"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Barra lateral -->
    <%- include('includes/sidebar.ejs') %>
      <script src="/js/encuesta.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/c5614e6e6c.js" crossorigin="anonymous"></script>
      </body>

      </html>