<%- include('includes/head.ejs') %>

<body>

<div class="container-fluid pt-5">
    
    <div class="login-container ">
        <div class="login-form rounded-5 col-4">
              <h1 class="display-4 text-center" style=" font-size: 4vw;">(Zebranalytics)</h1>
      
              <button class="btn-lg btn-block rounded-4"><a href="/user/login">Iniciar Sesión</a></button>
              
      
            </div>
    </div>
</div>

</body>
<link rel="stylesheet" href="/css/logInStyle.css">
<script src="https://kit.fontawesome.com/c5614e6e6c.js" crossorigin="anonymous"></script>
</html>