<div class="offcanvas offcanvas-start bg-light" style="width: 310px;" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header position-relative">         
    <h5 class="offcanvas-title position-absolute top-10 start-50 translate-middle-x" id="offcanvasExampleLabel">(Zebranalytics)</h5>         
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>       
  </div>
  <hr>
  <div class="offcanvas-body">
    <div class="col-md-3">
      <div class="d-flex flex-column flex-shrink-0 p-3 min-vh-100" style="width: 280px;">

        <!-- Checamos los permisos del usuario y le mostramos la sidebar acorde a eso-->
        <ul class="nav nav-pills flex-column mb-auto">
          <% for(let funcion of permisos) {%>
          <%  if(funcion.Accion == 'verAnaliticas') { %>
          <li class="nav-item mb-3">
            <a href="/cuenta" class="nav-link link-dark btn btn-outline-secondary" aria-current="page">
              <i class="fa-solid fa-shop"></i>
              Catalogo
            </a>
          </li>
          <% } %>
          <%  if(funcion.Accion == 'verAnaliticas') { %>
            <li class="nav-item mb-3">
              <a href="/cuenta" class="nav-link link-dark btn btn-outline-secondary" aria-current="page">
                <i class="bi bi-person-circle"></i>  
                Mi cuenta
              </a>
            </li>
            <% } %>
          <%  if(funcion.Accion == 'verAnaliticas') { %>
          <li class="nav-item mb-3">
            <a href="/reviews/" class="nav-link link-dark btn btn-outline-secondary">
              <i class="bi bi-star-half"></i>
              Reseñas
            </a>
          </li>
          <% } %>
          <%  if(funcion.Accion == 'verAnaliticas') { %>
          <li class="nav-item mb-3">
            <a href="/analiticas" class="nav-link link-dark btn btn-outline-secondary">
              <i class="bi bi-bar-chart-fill"></i>
              Analíticas
            </a>
          </li>
          <% } %>
          <%  if(funcion.Accion ==  'actualizaReview') { %>
          <li class="nav-item mb-3">
            <a href="/brands" class="nav-link link-dark btn btn-outline-secondary">
              <i class="bi bi-card-checklist"></i>
              Marcas / Encuestas
            </a>
          </li>
          <% } %>
          <%  if(funcion.Accion == 'modificarUsuario') { %>
          <li class="nav-item mb-3">
            <a href="/personal" class="nav-link link-dark btn btn-outline-secondary">
              <i class="bi bi-people-fill"></i>
              Personal
            </a>
          </li>
          <% } %>
          <% } %>
        </ul>
        <hr style="margin-top: 0;">
          <a href="/logout" class="d-flex align-items-center link-dark text-decoration-none mb-auto">
            <i class="bi bi-box-arrow-in-left ml-3 h-2"></i>
            <strong>Cerrar sesión</strong>
          </a>
      </div>
    </div>
  </div>
</div>